<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for指令</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-for 指令</h1>
    <p>想要哪个标签循环就把v-for指令写在哪个标签中</p>
    <h4>数组排序</h4>
    <hr>

    <div id="app">
        <ul>
            <li v-for="item in sortItems">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(student,index) in sortStudents">{{index+1}}:{{student.name}}--{{student.age}}</li>
        </ul>
    </div>
    

    <script type="text/javascript">
        var app = new Vue({
            el:"#app",

            data:{
                items:[14,15,22,2,5,45,67,88],
                students:[
                    {name:'Ljh',age:21},
                    {name:'Hml',age:12},
                    {name:'Wsy',age:13},
                    {name:'Zdt',age:18}
                    
                ]
            },

            computed:{
                // 进行数组排序
                sortItems:function(){
                    return this.items.sort(sortNumber);
                },
                // 按年龄对数进行排序
                sortStudents:function(){
                    return sortByKey(this.students,'age');
                }  
            }, 
 
        });
        // 数组排序方法
        function sortNumber(a,b) {
                return a-b;
        };

        // 数组对象方法排序
        function sortByKey(array,key){
            return array.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                return ((x<y)?-1:((x>y)?1:0))
            });
        }
    </script>
</body>
</html>